<% include header %>

    <body>
        <h1>Express</h1>
        <p>Welcome to
            <%= title %>
        </p>
        <p>ejs
            <%= name %>
        </p>
        <div class="form-inline">
            <input type="text" class="form-control">
            <button type="button" class="btn">Btn</button>
        </div>
    </body>
<% include footer %>
